.comments-section,
.post-comment {
  padding: 1.5rem;
  background: $white;
  border-radius: 10px;

  .comments-count {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: $blueGrey2;
  }

  .comment,
  .reply-comment {
    // padding-top: 1.5rem;
    // padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .__user {
      .--user-image {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        border-radius: 50%;
      }
      .--user-text {
        display: flex;
        flex-direction: column;

        .--user-name {
          font-weight: bold;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: -0.180556px;
          color: $blueGrey2;
        }

        .--user-alias {
          font-weight: normal;
          font-size: 13px;
          line-height: 19px;
          color: $darkGrey;
        }
      }
      .--reply-button {
        width: auto;
        height: 19px;
        margin-left: auto;
        font-weight: 600;
        color: $blue;
        background: transparent;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .__content {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      color: $darkGrey;
    }
  }

  .comment:not(:last-child)::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background: #8c92b25a;
  }

  .__replies {
    .reply-comment {
      padding-left: 3rem;
      &:nth-child(1) {
        border-left: 1px solid #8c92b25a;
      }

      .--replying-to {
        font-weight: bold;
        color: $purple;
      }

      .__content {
        border-bottom: none;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: $darkGrey;
      }
    }
  }
}

.post-comment {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .__header {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: $blueGrey2;
  }

  input {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0 80px 1rem;
    border: none;
    border-radius: 5px;
    background: $grey;

    &:focus {
      outline: 1px solid $blue;
    }

    &::placeholder {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  .__bottom {
    .--characters-remaining {
      font-size: 13px;
      line-height: 19px;
      color: #647196;
    }
  }
}
