input.form-control {
  //max-width: 255px;
  //max-height: 48px;
  padding: 13px 1.5rem;
  background: $grey2;
  //background: red;
  border-radius: 5px;
  border: none;
  font-family: "Jost";
  @include font-size(15);
  @include line-height(22);
  color: $blueGrey2;

  &:focus {
    outline: none;
    border: 1px solid $blue;
  }

  //   &:invalid {
  //     outline: none;
  //     border: 1px solid #d73737;
  //   }
}

.warning {
  font-family: "Jost";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #d73737;
}
