input,
select,
textarea {
  width: 279px;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 14px 16px;
  background-color: #f7f8fd;
  border: none;
  border-radius: 5px;
  resize: none;

  &:focus {
    outline: 1px solid $blue;
  }

  &.--error {
    border: 1px solid red;
  }
}

select {
  background-image: url("https://cdn0.iconfinder.com/data/icons/arrows-2-10/128/Chevron-Down-Arrow-Download-South-Action-Motion-512.png");
  background-repeat: no-repeat, repeat;
  background-position: right 1rem center;
  border-radius: 0.25rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-size: 10px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  outline: none;
}

textarea {
  height: 120px;
}
