html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  position: relative;
  height: 100%;
  font-family: "Jost", sans-serif;
  background: $white;
  background-repeat: no-repeat;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5625rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  color: black;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

h1 {
  font-weight: bold;
  @include font-size(24);
  @include line-height(35);
  letter-spacing: -0.33px;
}

h2 {
  font-weight: bold;
  @include font-size(20);
  @include line-height(29);
  letter-spacing: -0.25px;
}

h3 {
  font-weight: bold;
  @include font-size(18);
  @include line-height(26);
  letter-spacing: -0.25px;
}

h4 {
  font-weight: bold;
  @include font-size(14);
  @include line-height(20);
  letter-spacing: -0.2px;
}

.body1 {
  font-weight: 400;
  @include font-size(16);
  @include line-height(23);
}

.body2 {
  font-weight: 400;
  @include font-size(15);
  @include line-height(22);
}

.body3 {
  font-weight: 600;
  @include font-size(13);
  @include line-height(19);
}

.container {
  margin: 0px 1rem;
  max-width: 1400px;

  @include respond-above(lg) {
    margin: auto;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

Link {
  text-decoration: none;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.--counter-comments {
  display: flex;

  svg {
    font-size: 18px;
    fill: $grey3;
  }

  .--counter-count {
    margin-left: 9px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: $blueGrey2;
  }
}
