.up-vote,
.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 0.625rem;
  font-weight: bold;
  @include font-size(13);
  color: $blue;
  background: $grey;

  &:hover {
    background: #cfd7ff;
  }

  &:active {
    background: #4661e6;
  }
}

// upvote button
.up-vote {
  width: 2.5rem;
  height: 3.3125rem;

  @include respond-below(sm) {
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 14px;
    width: 69px;
    height: 32px;
  }

  &:active {
    color: $white;
    .__quantity {
      color: $white;
    }
  }

  .__quantity {
    color: #3a4374;
  }
}

// category button
.category-button {
  display: inline-block;
  height: 1.875rem;
  margin-right: 0.5rem;
  padding: 5px 1rem;
  text-align: center;
  color: $blue;

  &:hover {
    color: $blue;
  }
  &:active {
    color: $white;
  }
}

// dropdown menu
.dropdown {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: $blueGrey2;
    font-family: "Jost", sans-serif;
    @include font-size(13);
    color: $white;

    @include respond-above(sm) {
      max-height: 4.5rem;
      @include font-size(14);
      cursor: pointer;
    }

    .--sort-by {
      font-weight: 400;

      .chevron {
        padding-top: 2px;
      }
    }

    .--most-upvotes {
      margin-left: 5px;
      font-weight: bold;
    }

    &:hover {
      color: #c3c7d8;
    }
  }

  .dropdown-menu {
    position: absolute;
    width: 255px;
    padding: 0;
    margin-top: 1rem;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    background: $white;

    & :first-child button {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    & :last-child button {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .dropdown-item {
      width: 100%;
      height: 47px;
      padding: 0.75rem 1.5rem;
      margin: 0;
      border: none;
      border-bottom: 1px solid #e1e3ea;
      text-align: left;
      transition: all 0.3s ease;
      cursor: pointer;
      font-family: "Jost", sans-serif;
      @include font-size(16);
      color: $darkGrey;
      background: $white;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @include respond-below(md) {
        cursor: default;
      }

      &:hover {
        color: $purple;
        background: $white;
      }

      svg.check {
        transform: scale(1.3);
        color: transparent;
      }

      &:focus {
        svg.check {
          color: $purple;
        }
      }
    }
  }
}
