//colors
$purple: #ad1fea;
$blue: #4661e6;
$white: #ffffff;
$black: black;
$grey: #f2f4ff;
$grey2: #f7f8fd;
$grey3: #cdd2ee;
$grey4: #cfd7ff;
$blueGrey2: #3a4374;
$darkGrey: #647196;
$peach: #f49f85;
$lightBlue: #62bcfa;
