.post-feedback-page,
.edit-feedback-page {
  padding: 34px 24px;
  background: $grey;

  .__top-group {
    margin-bottom: 55px;
  }

  .feedback-window {
    position: relative;
    padding: 24px;
    background: $white;
    border-radius: 10px;

    .__plus-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -21px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: radial-gradient(
        128.88% 128.88% at 103.9% -10.39%,
        #e84d70 0%,
        #a337f6 53.09%,
        #28a7ed 100%
      );
      font-weight: bold;
      font-size: 20px;
      color: $white;
    }

    .__header {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: -0.25px;
      color: $blueGrey2;
    }

    form {
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 24px;
      &:last-of-type {
        margin-bottom: 40px;
      }

      label {
        font-weight: bold;
        color: #3a4374;

        &::before {
          display: block;
          content: "";
          margin-top: 24px;
        }
      }

      .__instructions {
        color: #647196;
      }
    }

    .__buttons {
      flex-direction: column;
      margin-top: 16px;

      :not(:last-child) {
        margin-bottom: 16px;
      }
      button {
        width: 100%;
      }
    }
  }
}
