form {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 8px;

  @include respond-above(sm) {
    font-size: 16px;
    line-height: 20px;
  }

  .form-group {
    label {
      font-weight: bold;

      &::before {
        display: block;
        content: "";
        margin-top: 24px;
      }
    }

    .__instructions {
      color: #647196;
    }
  }
}

input,
select,
textarea {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 4px;
  padding: 14px 16px;
  background-color: #f7f8fd;
  border: none;
  border-radius: 5px;
  resize: none;
  color: #3a4374;

  &::placeholder {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: Jost;
  }

  &:focus {
    outline: 1px solid $blue;
  }

  &.--error {
    border: 1px solid red;
  }
}

.--error-message {
  color: red;
}

select {
  background-image: url("https://cdn0.iconfinder.com/data/icons/arrows-2-10/128/Chevron-Down-Arrow-Download-South-Action-Motion-512.png");
  background-repeat: no-repeat, repeat;
  background-position: right 1rem center;
  border-radius: 0.25rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-size: 10px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  outline: none;
}

textarea {
  height: 120px;
  font-family: Jost;

  &:last-of-type {
    margin-bottom: 24px;
  }
}
